.gradle
build
*/build
*.pyc
*.egg-info
dist/
.ipynb_checkpoints/
tag.txt
.eggs/
*.iml
.coverage
build/
.idea/
**htmlcov
*.lock
!yarn.lock
memento_dask/dask-worker-space
memento_server/out
memento/twosigma/memento/generated/
*.class
*.DS_Store
*.tfstate.backup
*.tfplan
**.terraform
*.log
*/bin/main
*/bin/test
.settings
.classpath
.project
